<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--Default
        <add key="ldap" value="wic.com" />
        <add key="ldappath" value="LDAP://OU=watchnetdubai,DC=wic,DC=com" />-->
    </appSettings>
    <connectionStrings>
      <add name="constr" connectionString="Data Source=SAP-SERVER;Initial Catalog=TibsNotification;User ID=sa;Password=styro@123;" providerName="System.Data.SqlClient"/>
      <!--<add name="constr2" connectionString="Data Source=tibsserver;Initial Catalog=SBODemoGB;User ID=sa;Password=Welcome3#;" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
